*{
    text-decoration: none;
    list-style: none;
}
.index{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url(Pintrest.jpeg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: block;
}
nav{
    transform: scale(1,0);
    transition: 400ms ease-in-out;
    transform-origin: top;
}
.navbar{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(92, 63, 63, 0.616);
    color: white;
    flex-direction: column;
}
.navbar-links{
    display: flex;
}
.navbar-links ul{
    margin: 10px 9px;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-links li{
    list-style: none;
    display: flex;
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: .5rem;
    display: block;
}
.navbar-links a:hover {
    background-color: blanchedalmond;
    color: black;
}
.navtoggle:checked ~ nav{ 
    transform: scale(1,1);
}
.navtoggle{
    display: none;
}

.nav-label{
    position: absolute;
    bottom: 756px;
    right: 0;
    margin-right: 2em;
    height: 13%;
    display: flex;
    align-items: center;
}

.nav-label span,
.nav-label span::before,
.nav-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-label span::before,
.nav-label span::after{
    content: "";
    position: absolute;
}

.nav-label span::before{
    bottom: 7px;
}

.nav-label span::after{
    top: 7px;
}
.mylogo{
    position: relative;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 119, 119, 0.616);
    color: white;
    flex-direction: column;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.zel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(0, 0, 0);
    text-align: center;
}
.zel .image{
    width: 280px;
    height: 280px;
    position: relative;
 }
.zel h1{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: 30px;
    color: rgb(68, 58, 46);
    font-weight: bold;
}
.zel h2{
    font-size: 22px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.zel a{
    text-decoration: none;
    border: 1px solid #fff;
    font-size: 17px;
    padding: 10px 35px;
    color:#fff;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: poppins;
}
.zel a:hover{
    border-color: blanchedalmond;
    background: blanchedalmond;
    transition: .6s;
    color: rgb(51, 46, 46);
}
footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background: #070707;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 0px auto;
    line-height: 28px;
    font-size: 15px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


.contact{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url(Pintrest.jpeg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: block;
}
nav{
    transform: scale(1,0);
    transition: 400ms ease-in-out;
    transform-origin: top;
}
.navbar{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(92, 63, 63, 0.616);
    color: white;
    flex-direction: column;
}
.navbar-links{
    display: flex;
}
.dax{
    display: flex;
}
.navbar-links ul{
    margin: 10px 9px;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-links li{
    list-style: none;
    display: flex;
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: .5rem;
    display: block;
}
.navbar-links a:hover {
    background-color: blanchedalmond;
    color: black;
}
.navtoggle:checked ~ nav{ 
    transform: scale(1,1);
}
.navtoggle{
    display: none;
}

.nav-label{
    position: absolute;
    bottom: 756px;
    right: 0;
    margin-right: 2em;
    height: 13%;
    display: flex;
    align-items: center;
}

.nav-label span,
.nav-label span::before,
.nav-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-label span::before,
.nav-label span::after{
    content: "";
    position: absolute;
}

.nav-label span::before{
    bottom: 7px;
}

.nav-label span::after{
    top: 7px;
}
.mylogo{
    position: relative;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 119, 119, 0.616);
    color: white;
    flex-direction: column;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
.content{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(0, 0, 0);
    text-align: center;
}
.content .image{
    width: 280px;
    height: 280px;
    position: relative;
    display: none;
 }
.content h2{
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    justify-content: space-between;
    align-items: center;
    color: rgb(68, 58, 46);
    display: none;
}
.content p{
    font-size: 22px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:black;
    display: none;
}
.container{
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    height: 0;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 660px;
}
.container .contactInfo .box{
    position: relative;
    display: flex;
    bottom: 60px;
    padding: 15px 0px;
    margin: 0;
    left: 20px;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 5px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300%;
}
.container .contactInfo .box .text h2{
    font-weight: bold;
    padding: 0;
    margin: 0;
    color:rgb(0, 0, 0);
}
.container .contactInfo .box .text p{
    padding: 0;
    display: flex;
    margin: 0;
    font-weight: bold;
    color:rgb(255, 255, 255);
}

.contactForm{
    margin: 15px;
    width: 90%;
    padding: 10px 25px;
    background: #fff;
    position: absolute;
    bottom: 10px;
    border: 20px;
    border-color: rgb(158, 130, 94);
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    display: none;
}
.contactForm h3{
    font-size: 30px;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    left: 0;
}
.contactForm .inputBox input
{
    width: 100%;
    padding: 2px 0px;
    font-size: 15px;
    margin: 20px 0px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 2px 0px;
    font-size: 15px;
    margin: 5px 0px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 13px 0;
    font-size: 20px;
    margin: 15px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
    bottom: 0;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color:rgb(245, 140, 140);
    font-size: 17px;
    transition: .4s ease-in-out;
    transform: translateY(-15px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: rgb(245, 140, 140);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
footer{
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background: #070707;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 0px auto;
    line-height: 28px;
    font-size: 15px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


@media (min-width : 700px){
    .zel{
        top: 55%;
    }
    .zel .image{
        width: 300px;
        height: 300px;
        position: relative;
    }
    .zel h1{
        font-size: 60px;
    }
    .zel h2{
        font-size: 30px;
    }
    .zel a{
        font-size: 20px;
    }
    .mylogo{
        font-size: 2rem;
    }
    nav{
        transform: none;
        transition: none;
        position: relative;
        float: right;
        bottom: 65px;
    }
    .navbar{
        background-color: rgba(250, 235, 215, 0);
    }
    .navbar-links{
        font-size: 20px;
        padding: 0px 22px;
    }
    .navbar-links li a{
        font-family: poppins;
        transition: .5s ease-in-out;
    }
    .navbar-links li a:hover {
        font-size: 22px;
        font-style: italic;
        transition: .3s ease-in-out;
    }
    .navtoggle:checked ~ nav{ 
        transform: none;
    }
    .navtoggle{
        display: none;
    }
    .nav-label{
        display: none;
    }
    body .contact{
        margin: 0;
        padding: 0;
    }
    .content{
        position: absolute;
        text-align: center;
        height: 0;
    }
    .content .image{
        width: 300px;
        height: 300px;
        position: absolute;
        display: flex;
        top: 150px;
        right: 50%;
    }
    .content h2{
        font-family: 'Courier New', Courier, monospace;
        font-size: 55px;
        color: rgb(68, 58, 46);
        position: relative;
        display: flex;
        bottom: 5px;
        left: 180px;
    }
    .content p{
        font-size: 22px;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color:black;
        position: relative;
        display: flex;
        bottom: 20px;
    }
    .container{
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 0;
        margin: 0;
    }
    .container .contactInfo{
        bottom: 380px;
    }
    .container .contactInfo .box{
        position: relative;
        padding: 20px 0;
        display: flex;
    }
    .container .contactInfo .box .icon{
        min-width: 60px;
        height: 60px;
        background: #fff;
        display: flex;
        border-radius: 50%;
        font-size: 22px;
    }
    .container .contactInfo .box .text{
        display: flex;
        margin-left: 5px;
        font-size: 16px;
        color: #fff;
        flex-direction: column;
        font-weight: 300%;
    }
    .container .contactInfo .box .text h2{
        font-weight: bold;
        color:rgb(0, 0, 0);
    }

    .contactForm{
        display: block;
        width: 40%;
        padding: 30px;
        background: #fff;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 420px;
        left: 700px
    }
    .contactForm h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
        display: flex;
    }
    .contactForm h3{
        display: none;
    }
    .contactForm .inputBox{
        position: relative;
        width: 100%;
        right: 100%;
    }
    .contactForm .inputBox input,
    .contactForm .inputBox textarea
    {
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 5px 0;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
        resize: none;
    }
    .contactForm .inputBox span{
        position: absolute;
        left: 0;
        width: 100%;
        padding: 5px 0;
        font-size: 16px;
        margin: 7px 0;
        pointer-events: none;
        transition: 0.5s;
        color: #666;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
        color: #e91e63;
        font-size: 12px;
        transform: translateY(-15px);
    }
    .contactForm .inputBox input[type="submit"]
    {
        width: 100px;
        background: #000000;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
    }
}
